{% extends 'layout.html' %}
 {% load static %}
{% block title %}DashBoard{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

    <!-- Here strat main part -->
    <main>
        <div id="login-page">
            <div class="container">
            
                <form method="post" class="form-container">
                    {% csrf_token %}
                    <h4>Member Login</h4>

                    <div class="input-field">
                        <i class="fa fa-user" aria-hidden="true"></i>

                        {{ form.username | as_crispy_field }}

                    </div>
                    <!-- Each Input Field -->

                    <div class="input-field">
                        <i class="fa fa-lock" aria-hidden="true"></i> 
                        {{ form.password | as_crispy_field }}
                    </div>
                    <!-- Each Input Field -->

                    <button id="login-btn" type="submit">LOGIN</button>
                    <p><a href="#">Forgot Username</a> / <a href="#">Password?</a></p>
                    <p id="sign-link">Don't have an Account? <a href="/signup/renter/">Sign Up</a></p>
                </form>

                <img src="{% static 'images/login.svg' %}" alt="Picture of Login">
            </div>
        </div>
    </main>
    <!-- Here End main part -->

   {% endblock %}