{% extends 'layout.html' %}
{% load static %}
{% block title %}DashBoard{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Here strat main part -->
<main>
    <div id="login-page">
        <div class="container">

            <form method="post" class="form-container">
                {% csrf_token %}

                <h4>Member Login</h4>
                {{form | crispy}}
                
            
                <button id="login-btn" type="submit">LOGIN</button>
                
                <p id="sign-link">Don't have an Account? <a href="/signup/renter/">Sign Up</a></p>
            </form>

            <img src="{% static 'images/login.svg' %}" alt="Picture of Login">
        </div>
    </div>
</main>
<!-- Here End main part -->

{% endblock %}