{% extends 'layout.html' %}
{% load static %}
{% block title %}DashBoard{% endblock %}

{% block content %}

<main>
    <section id="blog">
        <div class="container">
            <h3>{{blog.title}}</h3>
            <small>Published on {{blog.created_date}}</small>
            
            <img src="{{blog.photo.url}}" width="1100" height="550">

            <div style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            color: #303030;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 1px;
            line-height: 200%;">{{blog.description}}</div>
           
        </div>
    </section>
</main>

{% endblock %}