{% extends 'layout.html' %}
{% load static %}
{% block title %}DashBoard{% endblock %}

{% block content %}


<main>
    {% if user.is_owner or user.is_superuser %}
    <div class="position-absolute end-0">
        <a href="/blogs/new/"> <button style="border-radius: 50px; " type="button"
                class="btn btn-warning btn-circle btn-lg" title="Add New Blog"><i class="fa fa-plus"></i></button></a>
    </div>
    {% endif %}
    <section id="blogs">

        <div class="container">
            {% for blog in blogs %}
            <div class="single-row">

                <div class="img-details">
                    <img style="" src="{{blog.photo.url}}" width="350" height="450">
                    <div class="details">
                        <h5>{{blog.title}}</h5>
                        <small>{{blog.created_date}}</small>
                        <p><a href="/blogs/details/{{blog.id}}/">See more</a></p>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </section>

</main>



{% endblock %}