{% extends 'layout.html' %}
{% load static %}
{% block title %}DashBoard{% endblock %}

{% block content %}


<main>
    <h3 class="position-absolute end-50">Blog Posts</h3>
    {% if user.is_superuser %}
    <div class="position-absolute end-0">
        <a href="/blogs/new/"> <button style="border-radius: 50px; " type="button"
                class="btn btn-warning btn-circle btn-lg" title="Add New Blog"><i class="fa fa-plus"></i></button></a>
    </div>
    {% endif %}
    <section id="blogs">

        <div class="container">
            {% for blog in blogs %}
            {% if forloop.counter|divisibleby:2 %} <div class="double-row"> {% else %} <div class="single-row"> {% endif %}
            

                <div class="img-details">
                    {% if forloop.counter|divisibleby:2 %} <img src="{{blog.photo.url}}" width="350" height="360"> {% else %} <img src="{{blog.photo.url}}" width="350" height="450"> {% endif %}
                    
                    <div class="details">
                        <h5><b>{{blog.title}}</b></h5>
                        <small>{{blog.created_date}}</small>
                        <p><a href="/blogs/details/{{blog.id}}/" type="button" class="btn btn-outline-primary">See more</a></p>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </section>

</main>



{% endblock %}