{% extends 'layout.html' %}
{% load static %}

{% block content %}
<main>
    <div id="home">
        <div class="container">
            <div class="left-side-content">
                <h1>Rent Time - <span>Home Renting Made Simple</span></h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At doloremque repellendus quos debitis
                    velit, unde fugit. Voluptatem assumenda recusandae necessitatibus cupiditate molestias magnam,
                    asperiores excepturi!</p>

                <button><a href="/about/">Explore More</a></button>
            </div>

            <h3 id="responsive-title">Rent Time - Home Renting Made Simple</h3>

            <div class="right-side-content">
                {% if user.is_renter %}
                <div class="each-content-box">
                    <h5>I need a roommate</h5>
                    <p>Create a listing for a potential <br>roommate</p>
                    <button><a href="/rents/{{'shared'}}/">Find Roommate</button></a>
                </div>

                <div class="each-content-box">
                    <h5>I need a room</h5>
                    <p>Create a listing for a potential <br> roommate</p>
                    <button><a href="/rents/{{'all'}}/">Find House</a></button>
                </div>
                {% endif %}

                {% if user.is_superuser or user.is_owner %}
                <div class="each-content-box">
                    <h5>Add my vacant place </h5>
                    <p>Create a listing for post ads</p>
                    <button><a href="rents/new ">Add Place</a></button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Here End Home page  -->

    <br>

    <div class="h-100 d-flex align-items-center justify-content-center">
        <form method="get">
            <div class="form-group">
                <span style="border: 1px solid #ddd;
                      padding: 10px;
                      cursor: pointer;"> Area: {{myFilter.form.post_office}}</span>
                &nbsp;
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <input name="address" placeholder="Street or area name.." type="text">
                &nbsp;
                <i class="fa fa-money" aria-hidden="true"></i> Rental Range:

                <input style="background-color: beige; width: 80px;" name="rental__gte" name="quantity"
                    placeholder="Min">

                <i class="fa fa-minus"></i>
                &nbsp;
                <input style="background-color: beige; width: 80px;" name="rental__lte" name="quantity"
                    placeholder="Max">

                <input class="btn btn-outline-dark btn-sm" type="submit" value="Search" />
            </div>

        </form>
    </div>
    <section id="all-seller">
        <div class="container">
            {% for rent in rents %}
            <div class="seller">
                <a href="/rents/details/{{rent.id}}" title="Click for Details">
                    <img src="{{rent.photo1.url}}" alt="Picture of sell Item">

                    <h5>{{rent.address}}</h5>

                    <div class="price-and-ageOfPerson">
                        <p>{{rent.address}}, {{rent.post_office}} </p>
                    </div>


                    <p>{{rent.description|linebreaksbr}}</p>
                    <h6>Rental: <strong style="color: rgb(255, 123, 0);">BDT {{rent.rental}}/=</strong></h6>
                    <small>{{rent.availability_date}}</small>

                </a>
                <span>Owner:
                    <a href="/profile/{{rent.owner}}/">
                        <b>{{rent.owner}}</b>
                    </a>
                </span>
                {% if user.is_renter %}
                <a href="/rents/add-request/{{rent.id}}/" class="btn btn-primary" data-toggle="tooltip"
                    data-placement="bottom" title="Send Booking Request">
                    <i class="fa fa-plus"></i>
                </a>
                {% endif %}
                
                {% if rent.is_shared %}
                <a href="/profile/{{rent.renter}}/" class="btn btn-warning" data-toggle="tooltip"
                    data-placement="bottom" title="Contact with {{rent.renter}} to Share this Place">
                    {{rent.renter}} <span style="font-size: 80%;">is Looking for Roommate</span>
                </a>
                {% else %}
                {% if user.is_renter %}
                <a href="/rents/add_roommate_status/{{rent.id}}/" class="btn btn-outline-dark " data-toggle="tooltip"
                    data-placement="bottom" title="Look for Roommates">
                    <i class="fa fa-people-arrows"></i>
                </a>
                {% endif %}
                {% endif %}
            </div>
            {% endfor %}
            <!-- End of each seller Post -->
        </div>
    </section>
    <!-- End of Post section -->


    <!-- Here start Testimonials -->
    <section id="testimonials" class="testimonials">
        <h3>Testimonials</h3>
        <div class="container swiper">
            <div class="carousel swiper-wrapper">
                <div class="testimonial swiper-slide">
                    <div class="head">
                        <div class="profile">
                            <div class="clientImage">
                                <img src="{% static 'images/testimonial-1.jpg' %}">
                            </div>

                            <div class="info">
                                <h4>Nabil Hasan</h4>
                                <cite>Dhaka, Bangladesh.</cite>
                            </div>
                        </div>

                        <div class="stars">
                            <span class="material-icons-sharp">star_rate</span>
                            <span class="material-icons-sharp">star_rate</span>
                            <span class="material-icons-sharp">star_rate</span>
                            <span class="material-icons-sharp">star_rate</span>
                            <span class="material-icons-sharp">star_rate</span>
                        </div>
                    </div>

                    <p>Fast response, incredible service and good behavior. Work is up to the mark. Can communicate
                        properly for better comprehension. Very much recommended.</p>
                </div>
                <!-- End of each testimonial -->
                <div class="testimonial swiper-slide">
                    <div class="head">
                        <div class="profile">
                            <div class="clientImage">
                                <img src="{% static 'images/testimonial-2.jpg' %}">
                            </div>

                            <div class="info">
                                <h4>Mehrab Hasan Anim</h4>
                                <cite>Dhaka, Bangladesh.</cite>
                            </div>
                        </div>

                        <div class="stars">
                            <span class="material-icons-sharp">star_rate</span>
                            <span class="material-icons-sharp">star_rate</span>
                            <span class="material-icons-sharp">star_rate</span>
                            <span class="material-icons-sharp">star_rate</span>
                            <span class="material-icons-sharp">star_rate</span>
                        </div>
                    </div>

                    <p>Remarkable service and upright behavior. Work is exceptionally good. Can communicate properly for
                        betterment. Can work accordingly just like you wanted. worth it recommended.</p>
                </div>
                <!-- End of each testimonial -->
            </div>
            <div class="swiper-scrollbar"></div>
        </div>
    </section>
    <!-- End of Testimonials -->
</main>
<!-- End of Main part -->

{% endblock %}