{% extends 'layout.html' %}
 {% load static %}
{% block title %}DashBoard{% endblock %}

{% block content %}

<section id="all-seller">
    <div class="container">
        {% for rent in rents %}
        <div class="seller">
            <img src="{% static 'Images/pic2.jpg' %}" alt="Picture of sell Item">

            <a href="/rents/details/{{rent.id}}"><h5>{{rent.address}}</h5></a>

            <div class="price-and-ageOfPerson">
                <p>{{rent.address}}, {{rent.post_office}} </p>
                <p>{{rent.owner}}</p>
            </div>

            <p>{{rent.description}}</p>

            {% if rent.is_booked %}
            
            <small>Booked</small> 
            
            {% else %}

            <small>{{rent.availability_date}}</small>

            {% endif %}
        </div>
        <!-- End of each seller Post -->
        {% endfor %}
       
    </div>            
</section>
<!-- End of Post section -->

{% endblock %}

