{% extends 'layout.html' %}
{% load static %}

{% block title %}DashBoard{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div id="login-page">
    <div class="container">

        <form method="post" class="form-container">

            {% csrf_token %}
            <h4>Password Change</h4>
            {{ form|crispy }}

            {% if form.errors %}
            <h5 style="color:purple"> This fields are required :</h5>
            {% for error in form.errors %}
            <pre style="color: red ; background-color:#e0e0e0;">{{ error }}</pre>
            {% endfor %}
            {% endif %}

            <input type="submit" class="btn btn-success" value="Change">
        </form>
    </div>
</div>


{% endblock %}