{% extends 'layout.html' %}
{% load static %}
{% block title %} Rent Update {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Here Start main part -->
    <main>
        <div id="directory-and-item-details">
            <div class="container">
                <div class="file-path">
                    <p><span><a href="index.html">renttime </a></span> / <span><a href="seller-details.html"> studentpage</a></span></p>
                </div>

                <div class="sell-items-picture">
                    <img src="images/man1.jpg" alt="Picture of sell items">
                    <img src="images/man1.jpg" alt="Picture of sell items">
                    <img src="images/man1.jpg" alt="Picture of sell items">
                </div>

                <!-- Sell Info -->
                <div class="sell-info">
                    <div class="name-request">
                        <h4>Imtiaz Hossain</h4>
                    </div>
                    <p class="online-status">Online: <span>Over 5 days</span></p>

                    <hr>
                    
                    <div class="each-info">
                        <p class="name">Date Available</p>
                        <p class="semi-colon">:</p>
                        <p class="condition">7 Aug 2022 for 2 to 3 months</p>
                    </div>
                    <!-- Each info -->

                    <div class="each-info">
                        <p class="name">Age and gender</p>
                        <p class="semi-colon">:</p>
                        <p class="condition">One person. Male (str). 25 to 30 years.</p>
                    </div>
                    <!-- Each info -->

                    <div class="each-info">
                        <p class="name">Smoker</p>
                        <p class="semi-colon">:</p>
                        <p class="condition">Non-smoker</p>
                    </div>
                    <!-- Each info -->

                    <div class="each-info">
                        <p class="name">Main interests</p>
                        <p class="semi-colon">:</p>
                        <p class="condition">Travel</p>
                    </div>
                    <!-- Each info -->

                    <div class="each-info">
                        <p class="name">Student</p>
                        <p class="semi-colon">:</p>
                        <p class="condition">Full Time</p>
                    </div>
                    <!-- Each info -->
                </div>

                <!-- Sell Info -->
                <div class="sell-info">
                    <div class="about-info">
                        <p class="about-person">Important Personal Qualities</p>
                        <p class="condition">Honest and Good Sense of Humor</p>
                    </div>
                    <!-- Each info -->
                </div>

                <!-- Sell Info -->
                <div class="sell-info">
                    <div class="about-info">
                        <p class="about-person">Food Sharing and Furniture</p>
                        <p class="condition">I prefer not to share my foods. I like to have a furnished house.</p>
                    </div>
                    <!-- Each info -->
                </div>

                <!-- Sell Info Preferance Title -->
                <div class="search-preferance">
                    <h4>SEARCH PREFERENCES</h4>
                </div>
                <!-- Sell Info -->
                <div class="sell-info">
                    <h5>Home Preferance</h5>
                    
                    <div class="each-info">
                        <p class="name">Rent Budget</p>
                        <p class="semi-colon">:</p>
                        <p class="condition">৳ 7000 per month</p>
                    </div>
                    <!-- Each info -->

                    <div class="each-info">
                        <p class="name">Bedroom Type</p>
                        <p class="semi-colon">:</p>
                        <p class="condition">Private Bedroom</p>
                    </div>
                    <!-- Each info -->

                    <div class="each-info">
                        <p class="name">Balcony</p>
                        <p class="semi-colon">:</p>
                        <p class="condition">Attach balcony preferable</p>
                    </div>
                    <!-- Each info -->

                    <div class="each-info">
                        <p class="name">Home Sizes</p>
                        <p class="semi-colon">:</p>
                        <p class="condition">Any home size</p>
                    </div>
                    <!-- Each info -->

                    <div class="each-info">
                        <p class="name">Bedroom Sizes</p>
                        <p class="semi-colon">:</p>
                        <p class="condition">Single</p>
                    </div>
                    <!-- Each info -->

                    <div class="each-info">
                        <p class="name">Bedroom Furniture</p>
                        <p class="semi-colon">:</p>
                        <p class="condition">Furnished</p>
                    </div>
                    <!-- Each info -->

                    <div class="each-info">
                        <p class="name">Bathroom Facilities</p>
                        <p class="semi-colon">:</p>
                        <p class="condition">Shared Bathroom Okay</p>
                    </div>
                    <!-- Each info -->
                </div>


                <!-- Sell Info -->
                <div class="sell-info">
                    <h5>Flatmate Preferences</h5>
                    
                    <div class="each-info">
                        <p class="name">Gender & Sexuality</p>
                        <p class="semi-colon">:</p>
                        <p class="condition">Males (student)</p>
                    </div>
                    <!-- Each info -->

                    <div class="each-info">
                        <p class="name">Age Group</p>
                        <p class="semi-colon">:</p>
                        <p class="condition">21 to 30 yrs</p>
                    </div>
                    <!-- Each info -->

                    <div class="each-info">
                        <p class="name">Smoking at Home</p>
                        <p class="semi-colon">:</p>
                        <p class="condition">Non-smokers - Outdoors okay</p>
                    </div>
                    <!-- Each info -->
                </div>


                <!-- Sell Info -->
                <div class="sell-info">
                    <h5>Location Preferences</h5>
                    
                    <div class="all-location">
                        <div class="location">
                            <p> <span></span> Mohammadpur</p>
                        </div>
                        <!-- Each Location -->
    
                        <div class="location">
                            <p> <span></span> Shakar</p>
                        </div>
                        <!-- Each Location -->
    
                        <div class="location">
                            <p> <span></span> Rayer Bazaar</p>
                        </div>
                        <!-- Each Location -->
    
                        <div class="location">
                            <p> <span></span> Dhanmondi</p>
                        </div>
                        <!-- Each Location -->
    
                        <div class="location">
                            <p> <span></span> Zigatola</p>
                        </div>
                        <!-- Each Location -->
    
                        <div class="location">
                            <p> <span></span> Tollabag</p>
                        </div>
                        <!-- Each Location -->
    
                        <div class="location">
                            <p> <span></span> Kolabagan</p>
                        </div>
                        <!-- Each Location -->
    
                        <div class="location">
                            <p> <span></span> shukrabad</p>
                        </div>
                        <!-- Each Location -->
    
                        <div class="location">
                            <p> <span></span> Tallioffice</p>
                        </div>
                        <!-- Each Location -->
    
                        <div class="location">
                            <p> <span></span> Geelong</p>
                        </div>
                        <!-- Each Location -->
    
                        <div class="location">
                            <p> <span></span> kaderabudhousing</p>
                        </div>
                        <!-- Each Location -->
                        <div class="location">
                            <p> <span></span> Poolpar</p>
                        </div>
                        <!-- Each Location -->
    
                        <div class="location">
                            <p> <span></span> Niltalamondir</p>
                        </div>
                        <!-- Each Location -->
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Here end main part -->

    <!-- Here start footer -->
    <footer id="footer">
        <div class="container">
            <div class="intro">
                    <h4 class="footer-title"><a href="#" class="logo">Rent Time</a></h4>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    <a href="about.html">Read more <span class="fa fa-chevron-right" style="font-size: 11px;"></span></a>
                </div>

                <div class="Services">
                    <h4 class="footer-title">Services</h4>
                    <ul>
                        <li><a href="#">Map Direction</a></li>
                        <li><a href="#">Accomodation Services</a></li>
                        <li><a href="#">Great Experience</a></li>
                        <li><a href="#">Perfect central location</a></li>
                    </ul>
                </div>

                <div class="tag-cloud">
                    <h4 class="footer-title">Tags</h4>
                    <div class="short-link">
                        <a href="#" class="tag-cloud-link">apartment</a>
                        <a href="#" class="tag-cloud-link">home</a>
                        <a href="#" class="tag-cloud-link">rental</a>
                        <a href="#" class="tag-cloud-link">rent</a>
                        <a href="#" class="tag-cloud-link">house</a>
                        <a href="#" class="tag-cloud-link">place</a>
                        <a href="#" class="tag-cloud-link">sleep</a>
                    </div>
                </div>

                <div class="subscribe">
                    <div class="subscribeWrapper">
                        <h4 class="footer-title">Subcribe</h4>
                        <form action="#" class="subscribe-form">
                            <input type="email" class="form-control rounded-left" placeholder="Enter email address" required>
                            <button type="submit"><i class="fa fa-paper-plane"></i></button>
                        </form>
                    </div>

                    <div id="social-links">
                        <h4>Follow us</h4>
                        <ul>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>    
        </div>

        <div class="container hrtag">
            <hr>
        </div>

        <div class="copyright-message-and-privacy">
            <div class="container copyright-box">
                <div class="copyright-message">
                    <p>
                        Copyright &copy; 2022 All rights reserved | Developed by Mariam Maherin Fariha
                    </p>
                </div>
                <div class="terms-privacy">
                    <p>
                        <a href="privacy.html">Terms</a>
                        <a href="privacy.html">Privacy</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Main script file -->
    <script src="main.js"></script>
</body>
</html>