{% extends 'layout.html' %}
{% load static %}
{% block title %}DashBoard{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Here strat main part -->
<main>

    <div id="register-page">
        <div class="container">
            <div class="form-box">
                <h4 id="signup-text">Student Register</h4>

                <div class="button-box">
                    <div style="left: 0%;" id="btn"></div>
                    <a style="color: white;" href="/signup/renter/" type="button" id="studentBtn" class="toggle-btn">
                        Student </a>
                    <a style="color: #2f3a4a;" href="/signup/owner/" type="button" id="ownerBtn" class="toggle-btn">
                        Owner </a>
                </div>

                <form method="post" id="student" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    
                    <button class="btn btn-sm btn-dark text-center" style="margin: 30px 10px 10px 0; width: 100%;" type="submit">Submit</button>

                    <p id="login-link">Already have an Account? <a href="{%url 'login'%}">Login</a></p>
                </form>
            </div>

            <img src="{% static 'images/login.svg' %}" alt="Picture of Login Picture">
        </div>
    </div>
</main>
<!-- Here End main part -->

{% endblock %}