{% extends 'layout.html' %}
{% load static %}
{% block title %} Rent Update {% endblock %}



{% block content %}

<div class="row">
    <div class="col-lg-7 mx-auto">
        <div class="card mt-2 mx-auto bg-dark">
            <div class="card-body bg-light">
                <div class="container">
                    <h2 class="text-center">Add New Place</h2>
                    
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-label"> Address </label> 
                            {{ form.address }}
                        </div>
                        <div class="form-group">
                            <label class="form-label"> Post Office </label> 
                            {{form.post_office}}
                        </div>
                        <div class="form-group">
                            <label class="form-label"> Available From </label>
                        
                            {{form.availability_date}}
                        </div>
                        <div class="form-group">
                            <label class="form-label"> Description </label> 
                            {{form.description}}
                        </div>
                        <br>
                        <p> <b>Onwer:</b>{% if req.user.first_name %} {{ req.user.first_name }} {{ req.user.last_name }} {% else %} {{ req.user }} {% endif %} </p>
                        <div class="form-group text-center">
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}