{% extends 'layout.html' %}
{% load static %}

{% block title %}DashBoard{% endblock %}

{% block content %}
<style>
    th,
    td,
    tr {
        border: 1px solid #dddddd;
        text-align: left;
    }
</style>

<h3 style="text-align: center;"><b>Requests Board</b></h3>
<br>
<div class="blog-con">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sl.</th>
                <th>Flat</th>
                <th>Renter</th>
                <th>Place Share</th>
                <th>Requested Date</th>
                <th>Status</th>
                {% if request.user.is_owner or request.user.is_superuser %}
                <th>Accept</th>
                <th>Reject</th>
                {% endif %}
                {% if request.user.is_renter %}
                <th>Cancel</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for req in requests %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="/rents/details/{{req.flat.id}}/">{{req.flat | linebreaksbr}}</a></td>
                <td><a href="/profile/{{req.renter}}/">{{req.renter}}</a></td>
                <td>{% if req.is_roommate %} Shared {% else %} Not Shared {% endif %} </td>
                <td>{{req.created_date | date:'Y-m-d H:i'}}</td>
                <td>{% if req.is_accepted %} <b class="btn btn-success">Accepted</b> {% else %}  <b class="btn btn-secondary" >{% if req.is_deleted %} Rejected {% else %} Pending {% endif %}</b> {% endif %} </td>
                
                {% if request.user.is_owner or request.user.is_superuser %}
                <td>{% if req.is_accepted %} <a type="button" class="btn btn-success disabled">&#10004;</a> {% else %} <a class="btn btn-success" href="/rents/accept_request/{{req.id}}/">&#10004;</a>  {% endif %}</td>
                {% endif %}
                <td>{% if req.is_accepted or req.is_deleted %} <a type="button" class="btn btn-danger disabled">x</a> {% else %} <a class="btn btn-danger" href="/rents/delete_request/{{req.id}}/">x</a> {% endif %}</td>


            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}