*{  
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    list-style-type: none;
}
:root{
    --body-color: #efefef;
    --nav-color: #2f3a4a;
    --bg-color: #fff;
    --custom-shadow: 0 3px 8px rgb(0 0 0 / 12%), 0 3px 1px rgb(0 0 0 / 4%); 

}
.dark-theme{
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
}
::-webkit-scrollbar{
    background-color: #2f3a4aae;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #2f3a4a;
}
a{
    color: #525252;
}
body{
    background-color: var(--bg-color);
    transition: background 0.3s;
    color: #000;
    max-width: 100vw;
    font-size: 15px;
}
img{
    max-width: 100%;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
h1,
h2,
h3,
h4,
h5{
    color: #000;
}
h1{
    font-size: 3.8rem;
    line-height:5rem;
    color: #fff;
}
h2{
    font-size: 2.6rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.2rem;
}
h5{
    font-size: 0.86rem;
}
p{
    line-height: 1.6rem;
}
.container{
    width: 95%;
    margin: 0 auto;
}
section{
    padding: 3rem 0 7rem;
    max-width: 100%;
    overflow-x: hidden;
}
button{
    background: transparent;
}
/* Nav Bar Design Start */
header {
    position: sticky;
    top: 0;
    z-index: 100;
}
nav .container a h3{
    color: #fff;
    font-size: 2rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-color);
    height: 5rem;
    width: 100%;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%
}
nav .container ul{
    display: flex;
    height: 100%;
}
nav .container ul li{
    transition: all 0.3s ease;
}
nav .container ul li a{
    width: 7rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all ease 0.3s;
}
nav .container ul li:hover {
    background: #828992;
}
#search-bar-for-responsive {
    padding: 0 10px;
    border-radius: 5px;
    background-color: #ddd;
    display: none;
}
#search-bar-for-responsive input {
    padding: 10px 15px;
    background: transparent;
}
#search-bar-for-responsive input::placeholder{
    font-size: 12px;
}
#search-bar-for-responsive i {
    cursor: pointer;
}
.responsive-navbar{
    display: none;
}
.responsive-navbar button{
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}
.dark-and-light-theme {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    gap: 1rem;
}
.dark-and-light-theme a.search-bar{
    padding: 6px 15px;
    background: #ddd;
    border-radius: 25px;
}
.dark-and-light-theme a.search-bar input {
    background: transparent;
    padding: 5px 10px;
    width: 1rem;
    transition: 0.5s;
}
.dark-and-light-theme a.search-bar i{
    cursor: pointer;
    color: #000;
}
.dark-and-light-theme a.search-bar input:focus {
    width: 10rem;
}
.dark-and-light-theme button{
    background-color: transparent;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}
.dark-and-light-theme .light{
    display: none;
}
/* NavBar Design End */

/* Home page design start */
#home{
    background:linear-gradient(to top, rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.466)), url('images/cover.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
#responsive-title{
    display: none;
    width: 85%;
    margin: 0 auto;
    color: #2f3a4a;
    font-weight: 400;
    justify-content: center;
    padding: 0.8rem 2rem;
}
#home .container{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.left-side-content {
    flex-basis: 60%;
}
.left-side-content p {
    margin: 25px 0px 25px;
    color: #fff;
}
button a,
.each-content-box button a{
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #2f3a4a;
    color: #fff;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}
button a:hover{
    background-color: #fff;
    border: 1px solid #2f3a4a;
    color: #000;
}
button#register-btn{
    background: transparent;
}
button#register-btn a:hover{
    text-decoration: none;
}
.right-side-content {
    flex-basis: 30%;
    display: grid;
    gap: 1rem;
}
.each-content-box {
    padding: 25px 20px;
    border-radius: 10px;
    background: #2f3a4a;
    color: #fff;
    cursor: pointer;
}
.each-content-box p {
    margin: 10px 0px 15px 0px;
    font-weight: 300;
}
.each-content-box button a{
    background-color: #fff;
    color: #2f3a4a;
    padding: 10px 15px;
}
.each-content-box button a:hover{
    background-color: #2f3a4a;
    color: #fff;
    border: 1px solid #fff;
}
.each-content-box h5 {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
}
/* Home page design End */

/* Seller page design Satrt */
#all-seller .container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
}
#all-seller .container .seller {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
}
#all-seller .container .seller:hover{
    border: 1px solid #2f3a4a;
}
#all-seller .container .seller img {
    border-radius: 5px;
}
#all-seller .container .seller h5 {
    color: #2f3a4a;
    font-size: 1.125rem;
    margin: 1rem 0 0.2rem;
}
.price-and-ageOfPerson, #all-seller .container .seller p {
    display: flex;
    justify-content: space-between;
    font-size: .82rem;
    color: #6d7580;
    line-height: 17px;
}
#all-seller .container .seller small{
    color: #6d7580;
    margin-top: 6px;
    font-size: 0.7rem;
}
/* Seller page design end */


/* Pagination Part design Start */
#pagination .container{
    width: 25%;
}
#pagination .container .numbers .number-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
#pagination .container .numbers {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#pagination .container .numbers .number {
    padding: 5px;
    border: 1px solid #2f3a4a;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
#pagination .container .numbers .active, #pagination .container .numbers .number:hover{
    background-color: #2f3a4a;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.next-button button a {
    padding: 10px 15px;
}
/* Pagination Part design end */

/* Here Start Testiminal */
#testimonials h3{
    text-align: center;
    color: #2f3a4a;
    margin-bottom: 1rem;
}
section.testimonials .container{
    width: 44rem;
}
section.testimonials .container .carousel{
    display: flex;
    align-items: center;
}
section.testimonials .container .carousel .testimonial{
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    cursor: pointer;
}
section.testimonials .container .carousel .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.testimonials .container .carousel .head .profile{
    display: flex;
    gap: 1rem;
    align-items: center;  
}
section.testimonials .container .carousel .head .profile .clientImage{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
}
section.testimonials .container .carousel .head .profile .clientImage img{
    max-width: 115%;
}
section.testimonials .container .carousel .head .stars span{
    color: #2f3a4a;
}
/* Here end style of Testimonial */

/* Footer Design Start*/
#footer{
    background-color: #2f3a4a;
}
#footer .container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 4rem 0 0;
}
h4.footer-title, h4.footer-title a {
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
}
.intro p {
    color: #828992;
    margin-bottom: 1.5rem;
}
.intro a{
    color: #828992;
    font-weight: 500;
}
.intro a:hover {
    text-decoration: underline;
}
.Services ul li a {
    color: rgba(255, 255, 255, .7);
    line-height: 35px;
}
.Services ul li a {
    color: rgba(255, 255, 255, .7);
    line-height: 35px;
    font-weight: 300;
}
.short-link .tag-cloud-link {
    padding: 5px;
    border: 1px solid #828992;
    line-height: 35px;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.short-link .tag-cloud-link:hover {
    border: 1px solid rgb(92, 92, 92);
}
.subscribe .subscribeWrapper .subscribe-form{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.subscribe{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.subscribe .subscribeWrapper .subscribe-form input, 
.subscribe .subscribeWrapper .subscribe-form button {
    background: transparent;
    border: 1px solid #828992;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
}
.subscribe .subscribeWrapper .subscribe-form button{
    background-color: #fff;
    color: #2f3a4a;
    cursor: pointer;
    border: none;
    padding: 16px 18px;
}
.subscribe #social-links h4{
    color: #fff;
    font-weight: 500;
    margin-bottom: 1rem;
}
.subscribe #social-links ul {
    display: flex;
    align-items: center;
}
.subscribe #social-links ul li a span {
    color: #fff;
    margin-right: 3rem;
    padding: 5px;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.subscribe #social-links ul li a span:hover{
    background-color: #fff;
    color: #2f3a4a;
}
#footer .hrtag{
    display: block;
}
#footer .hrtag hr{
    border: 0.5px solid #828992;

}
#footer .copyright-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 2rem;
}
.copyright-message {
    color: #fff;
    letter-spacing: 0.3px;
    font-weight: 300;
    font-size: 14px;
}
.terms-privacy p {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.terms-privacy p a {
    color: #fff;
    font-weight: 300;
}
/* Here end Footer Page design */

/* Here Strat Seller page design */
#directory-and-item-details .container {
    width: 80%;
}
.container .file-path p,
.container .file-path p span a{
    font-size: 12px;
    color: #337ab7;
    margin: 2rem 0 1rem;
    word-spacing: 7px;
}
.container .file-path p span a:hover{
    text-decoration: underline;
}
#directory-and-item-details .container .sell-items-picture{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 1rem;
    cursor: pointer;
}
#directory-and-item-details .container .sell-info{
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}
.sell-info hr{
    border: 0.3px solid #ddd;
    margin: 1rem 0 1rem;
}
#directory-and-item-details .container .sell-info .name-request {
    display: flex;
    justify-content: space-between;
}
#directory-and-item-details .container .sell-info .name-request h4 {
    color: #2f3a4a;
    font-size: 1.8rem;
}
#directory-and-item-details .container .sell-info .online-status{
    font-size: 13px;
}
#directory-and-item-details .container .sell-info .each-info {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
}
#directory-and-item-details .container .sell-info .each-info .name {
    flex-basis: 30%;
}

#directory-and-item-details .container .sell-info .each-info .semi-colon {
    flex-basis: 2%;
}
#directory-and-item-details .container .sell-info .each-info .name,
#directory-and-item-details .container .sell-info .each-info .semi-colon,
#directory-and-item-details .container .sell-info .about-info .about-person{
    color:#90a4ae;
    font-size: 14px;
    word-spacing: 3px;
    line-height: 45px;
}
#directory-and-item-details .container .sell-info .each-info .condition,
#directory-and-item-details .container .sell-info .about-info .condition {
    color:#263238 ;
}
#directory-and-item-details .container .sell-info .about-info p{
    font-weight: 300;
}
#directory-and-item-details .container .search-preferance{
    text-align: center;
    margin: 2rem 0 1rem;
}
#directory-and-item-details .container .search-preferance h4 {
    font-size: 1.6rem;
    font-weight: 500;
}
#directory-and-item-details .container .sell-info h5 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
#directory-and-item-details .container .sell-info .location p {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}#directory-and-item-details .container .sell-info .location p {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
#directory-and-item-details .container .sell-info .location p span {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #00c4cb;
    border-radius: 50%;
}
#directory-and-item-details .container .sell-info .all-location {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#directory-and-item-details .container .sell-info .all-location .location {
    margin: 0rem 0.5rem 0rem;
}

/* About Page Design Part and some login design */
#about .container,
#login-page .container,
#register-page .container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 8rem 0rem 8rem;
    gap: 5rem;
}
#about .container .about-text h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
#about .container .about-text p {
    font-weight: 300;
}
/* End About page */

/* Start Login Page */
#login-page .container .form-container,
#register-page .container .form-box,
#second-step-form .container .outer-form .page{
    border: 1px solid #ddd;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 7px;
}
#login-page .container .form-container h4,
#register-page .container .form-box h4{
    font-weight: 500;
}
#login-page .container .form-container h4,
#register-page .container .form-box h4,
.form-container p, .form-box p {
    text-align: center;
}
#login-page .container .form-container .input-field,
#login-page .container .form-container .name-field div,
#register-page .container .form-box .input-group .name-field div,
#register-page .container .form-box .input-group .input-field,
#second-step-form .container .outer-form .page .input-field{
    padding: 0 1rem 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
#login-page .container .form-container .input-field i,
#login-page .container .form-container .name-field div i,
#register-page .container .form-box .input-group .name-field div i,
#register-page .container .form-box .input-group .input-field i,
#second-step-form .container .outer-form .page .input-field {
    font-size: 20px;
}
#login-page .container .form-container .input-field input,
#login-page .container .form-container .name-field div input,
#register-page .container .form-box .input-group .name-field div input,
#register-page .container .form-box .input-group .input-field input,
#second-step-form .container .outer-form .page .input-field input{
    padding: 0.7rem 0 0.7rem;
    flex-basis: 91%;
}
#login-page .container .form-container #login-btn,
#register-page .container .form-box .input-group .register-btn {
    width: 45%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 25px;
    color: #fff;
    background: #2f3a4a;
    font-size: 15px;
    cursor: pointer;
}
.form-container p,
#register-page .container{
    font-size: 13px;
}
.form-container #sign-link a:hover,
.form-container p a:hover,
.input-group a:hover{
    text-decoration: underline;
}
#login-page .container .form-container .name-field,
#register-page .container .form-box .input-group .name-field{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#login-page .container .form-container .name-field p,
#register-page .container .form-box .input-group .name-field p {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
#login-page .container .form-container .condition p,
#register-page .container .form-box .condition p {
    text-align: start;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 14px;
}


/* Regitration from design Start*/
#register-page .container .form-box{
    position: relative;
    height: 655px;
    overflow: hidden;
}
#register-page .container .form-box .input-group{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    transition: all 0.3s ease;
}
.button-box{
    position: relative;
    width: 50%;
    border-radius: 25px;
    margin: 0 auto;
    box-shadow: var(--custom-shadow);
}
.toggle-btn{
    padding: 15px 25px;
    background-color: transparent;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    color: #2f3a4a;
    margin-left: 12px;
}
#btn{
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    position: absolute;
    background: #2f3a4a;
    border-radius: 25px;
    transition: all 0.3s ease;
}
#studentBtn{
    color: #fff;
}
/* #ownerBtn{
    padding-left: 20px;
} */
form#student {
    left: 2rem;
    top: 11rem;
}
form#owner {
    left: 100%;
    top: 11rem;
}
#second-step-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
#second-step-form .container{
    width: 35%;
    background-color: #fff;
    padding: 50px 35px 10px 35px;
    border-radius: 5px;
    margin: 3rem 0;
}
#second-step-form .container .outer-form{
    width: 100%;
    overflow: hidden;
}
#second-step-form .container .outer-form form{
    display: flex;
    width: 200%;
}
#second-step-form .container .outer-form .page{
    width: 50%;
    border: none;
    transition: all 0.3s ease-in-out;
}
#second-step-form .container .outer-form .page .title{
    font-size: 25px;
}
.btn-grp {
    width: 100%;
    text-align: center;
}





/* Regitration from design End*/


/* End of Login page */

/* Blog Page Design Strat */
#blogs .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 80%;
    align-items: center;
}
#blogs .container .dubble-row {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
}
#blogs .container .dubble-row .img-details,
#blogs .container .single-row .img-details {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
#blogs .container .dubble-row .img-details .details,
#blogs .container .single-row .img-details .details {
    position: absolute;
    bottom: 7px;
    left: 0px;
    right: 0px;
    background: linear-gradient(to top, black, #0000000f);
    padding: 0.5rem 0 0.5rem;
}
#blogs .container .dubble-row .img-details h5,
#blogs .container .single-row .img-details h5{
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}#blogs .container .dubble-row .img-details h5,
#blogs .container .single-row .img-details h5,
#blogs .container .dubble-row .img-details .details small, 
#blogs .container .single-row .img-details .details small{
    margin: 0 1rem 0;
}
#blogs .container .dubble-row .img-details .details small, 
#blogs .container .single-row .img-details .details small {
    color: #fff;
    font-size: 12px;
}
/* Recent Post */
#recent-posts{
    margin-top: 2rem;
}
#recent-posts h3 {
    font-weight: 600;
    margin-bottom: 1rem;
    position: relative;
    left: 10%;
}
#blogs .container .single-row .img-details .details p a,
#blogs .container .dubble-row .img-details .details p a,
#blogs .container .single-row .img-details .details p a {
    color: #fff;
    position: relative;
    left: -75px;
    transition: 0.3s;
}
#blogs .container .single-row .img-details .details:hover p a,
#blogs .container .dubble-row .img-details .details:hover p a,
#blogs .container .single-row .img-details .details:hover p a {
    left: 17px;
}
#blogs .container .single-row .img-details .details p a:hover,
#blogs .container .dubble-row .img-details .details p a:hover{
    text-decoration: underline;
}

/* Blog Inner */
#blog .container{
    width: 80%;
}
#blog .container h3{
    color: #2f3a4a;
}
#blog .container small {
    color: #9d9c9c;
    font-weight: 300;
}
#blog .container img {
    margin: 1.5rem 0 2rem;
    border-radius: 5px;
}
#blog .container div{
    margin-bottom: 0.4rem;
}
/* Blog Page Design End */

/* Privacy and Policy Start */
#top-banner{
    background:linear-gradient(to top, #2f3a4ade, #2f3a4ade), url('images/privacy-policy.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}
#top-banner .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 80%;
}
#top-banner .container h5,
#top-banner .container p a,
#top-banner .container p{
    color: #fff;
}
#top-banner .container h5{
    font-size: 1.5rem;
    font-weight: 500;
    word-spacing: 3px;
}
#top-banner .container p {
    font-weight: 300;
}
#main-details .container{
    width: 80%;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#main-details .container h3 {
    font-weight: 500;
}
/* Privacy and Policy end */

/* Dash Board */
#dash-board .upper-navigation{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 1rem;
}
#dash-board .upper-navigation .each-content-box{
    background-color: #fff;
    border: 1px solid #ddd;
}
#dash-board .upper-navigation .each-content-box p{
    color: #2f3a4a;
}
#dash-board .container{
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 2rem;
    padding: 4rem 0;
}
#dash-board .container .left-side{
    border: 1px solid #ddd;
    padding: 2rem 5rem;
}
#dash-board .container .left-side .profile{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
#dash-board .container .left-side .profile img{
    border-radius: 8px;
}
#dash-board .container .left-side .profile p{
    color: #bdbdbd;
}
#dash-board .container .left-side .profile p a{
    color: #678EFB;
}
#dash-board .container .right-side{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#dash-board .container .right-side .about-user,
#dash-board .container .right-side .listing-on-rent{
    display: flex;
    gap: 2rem;
    border: 1px solid #ddd;
    padding: 2rem 3rem;
}
#dash-board .container .right-side .about-user{
    justify-content: space-between;
    align-items: center;
}
#dash-board .container .right-side .listing-on-rent{
    flex-direction: column;
}
#dash-board .container .right-side .about-user div,
#dash-board .container .right-side .listing-on-rent div{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
#dash-board .container .right-side .about-user div p {
    font-size: 19px;
}
#dash-board .container .right-side .about-user div p a{
    font-size: 14px;
    color: #678EFB;
}
#dash-board .container .right-side .listing-on-rent img{
    padding: 3rem 13rem;
}
nav .container .profile-icon img{
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
}
.setting-menu{
    position : absolute;
    width: 90%;
    max-width: 450px;
    background-color: #F5F5F5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 108%;
    right: 5%;
    border-radius: 4px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.3s;
}
.setting-menu-height{
    max-height: 400px
}
.setting-menu .setting-menu-inner{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}
.setting-menu .setting-menu-inner .menu-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.setting-menu .setting-menu-inner .menu-items .profile-shortcut img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.setting-menu .setting-menu-inner .menu-items .each-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.setting-menu .setting-menu-inner .menu-items .each-item:hover{
    background-color: #c3c3c3;
}
.setting-menu .setting-menu-inner .menu-items .each-item i{
    font-size: 20px;
}
.setting-menu .setting-menu-inner .log-out{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    cursor: pointer;
}

/* Here start rent fot room collect peremeter style  */
#post-requirements{
    padding: 3rem 0;
}
#post-requirements .container{
    width: 90%;
    display: grid;
    grid-template-columns: 3fr 2fr;
}
#post-requirements .container .left-side-collect-peremeter{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}
#post-requirements .container .left-side-collect-peremeter h2{
    font-size: 2rem;
    font-weight: 600;
}
#post-requirements .container .left-side-collect-peremeter .city-select-and-search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
#post-requirements .container .left-side-collect-peremeter .city-select-and-search select{
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}
#post-requirements .container .left-side-collect-peremeter .city-select-and-search .input-field{
    width: 65%;
    border-bottom: 2px solid #ddd;
}
#post-requirements .container .left-side-collect-peremeter .city-select-and-search .input-field i{
    font-size: 20px;
    margin-right: 5px;
}
#post-requirements .container .left-side-collect-peremeter .city-select-and-search .input-field input{
    width: 90%;
    padding: 12px 0;
}
#post-requirements .container .left-side-collect-peremeter .budget-and-filter{
    width: 80%;
    margin-top: 1rem;
}
#post-requirements .container .left-side-collect-peremeter .budget-and-filter .peremeter-btn a{
    background-color: #fff;
    color: #9e9e9e;
    padding: 9px;
    border-radius: 0;
    border: 1px solid #ddd;
}
#post-requirements .container .left-side-collect-peremeter .budget-and-filter .peremeter-btn a i{
    margin-right: 2px;
}
#post-requirements .container .left-side-collect-peremeter .peremeter-img{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0;
}
#post-requirements .container .left-side-collect-peremeter .peremeter-img img{
    max-width: 55%;
}
#post-requirements .container .right-side-google-map{
    width: 100%;
    height: 100vh;
}
#post-requirements .container .right-side-google-map iframe{
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
/* Here start settings style */
#settings{
    padding: 2rem 0;
    background: #f2f4f6;
}
#settings .container{
    width: 50%;
    background: #fff;
    padding: 1.6rem 2.5rem;
}
#settings .container h4{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 1rem;
}
#settings .container .setting-items{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#settings .container .setting-items p{
    color: #999;
    font-weight: 500;
    font-size: 14px;
}
#settings .container .setting-items .s-item{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#settings .container .setting-items .s-item p{
    flex-basis: 30%;
    color: #000;
}
#settings .container .setting-items .s-item input,
#settings .container .setting-items .s-item select{
    background: #f2f4f6;
    width: 100%;
    padding: 10px;
}
#settings .container .setting-items #setting-deactive-acc,
#settings .container .setting-items #setting-change-pass{
    width: 100%;
    text-align: end;
}
#settings .container .setting-items #setting-change-pass a,
#settings .container .setting-items .social p a,
#settings .container .setting-items #setting-deactive-acc a{
    color: #337ab7;
    font-weight: normal;
}
#settings .container .setting-items .divider-border{
    border: 1px solid #f2f4f6;
}
#settings .container .setting-items .social{
    justify-content: space-between;
}
#settings .container .setting-items .s-item #notification-type{
    display: flex;
    align-items: center;
}
#settings .container .setting-items .s-item #notification-type p{
    margin-right: 4rem;
    font-weight: normal;
}
#settings .container .setting-items .s-item .toggle{
    display: block;
    width: 43px;
    height: 15px;
    border-radius: 25px;
    background: #678efb7a;
    position: relative;
    transition: 0.3s;

}
#settings .container .setting-items .s-item .toggle .indicator{
    width: 22px;
    height: 22px;
    position: absolute;
    background: #678EFB;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%), 
                0px 1px 1px 0px rgb(0 0 0 / 14%),
                0px 2px 1px -1px rgb(0 0 0 / 12%);
    cursor: pointer;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
#settings .container .setting-items .s-item .toggle .indicator.active{
    left: 50%;
}
#settings .container #settings-update-btn{
    width: 100%;
    margin: 3rem 0 1rem 0;
}








/* Here Strat Responsive */
@media screen and (max-width : 1100px){
    #search-bar-for-responsive {
        display: block;
    }
    .container{
        width: 95%;
    }
    nav .container{
        width: 98%;
    }
    nav .container ul{
        position: fixed;
        flex-direction: column;
        z-index: 200;
        top: 0;
        width: 20rem;
        height: 60vh;
        background-color: #fff;
        left: 0;
        display: none;
    }
    nav .container ul li{
        width: 100%;
        height: 4.6rem;
    }
    nav .container ul li a{
        justify-content: flex-start;
        padding-left: 2rem;
        width: 100%;
        color: #2f3a4a;
        transition: all 0.3s ease;
    }
    nav .container ul li a:hover{
        padding-left: 2.5rem;
    }
    .dark-and-light-theme{
        display: none;
    }
    nav .container .responsive-navbar{
        display: block;
    }
    nav .container .responsive-navbar #nav-bar-close{
        display: none;
    }
    h1{
        font-size: 3.5rem;
    }

    /* Add Page */
    #all-seller .container{
        grid-template-columns: repeat(2, 1fr);
    }

    /* Pagnation */
    #pagination .container .numbers .number{
        width: 25px;
        height: 25px;
    }
    .next-button button a{
        padding: 5px 8px;
        font-size: 13px;
    }
    #pagination .container .numbers .number-wrapper{
        gap: 0.5rem;
    }
    #footer .container{
        grid-template-columns: repeat(3, 1fr);
    }

    /* Inner Post , about and login page  */
    #directory-and-item-details .container .sell-info,
    #about .container, #login-page .container{
        width: 85%;
    }

    /* Form */
    #login-page .container{
        gap: 1rem;
    }
}


@media screen and (max-width: 1090px) {
    h1{
        font-size: 3.2rem;
    }
}

@media screen and (max-width: 990px) {
    h1{
        font-size: 3.2rem;
    }

    /* Log in and restration */
    #login-page .container{
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }
    #login-page .container .form-container{
        order: 2;
    }
    #login-page .container .form-container .name-field{
        justify-content: space-between;
    }
    #login-page .container .form-container .name-field div{
        width: 100%;
    }
}

@media screen and ( max-width: 940px) {
    #home{
        background: #eaebec;
        height: auto
    }
    .left-side-content{
        display: none;
    }
    .right-side-content{
        display: flex;
        flex-basis: auto;
        justify-content: space-evenly;
        padding-bottom: 2rem;
    }
    #home .container{
        display: block;
    }
    #responsive-title{
        display: flex;
        font-size: 1.3rem;
    }
    .each-content-box{
        background-color: #fff;
        color: #2f3a4a;
        box-shadow: var(--custom-shadow);
        border: 1px solid #fff;
        transition: all 0.3s ease;
        border-radius: 5px;
    }
    .each-content-box:hover{
        border: 1px solid #2f3a4a;
    }
    .each-content-box h5{
        color: #2f3a4a;
    }
    .each-content-box button{
        display: none;
    }
    .each-content-box p{
        margin: 4px 0px 0px 0px;
    }
    #blogs .container{
        width: 95%;
    }
    #blog .container,
    #top-banner .container,
    #directory-and-item-details .container{
        width: 90%;
    }
    #about .container{
        gap: 2rem;
    }
}
@media screen and ( max-width: 880px) {
    .right-side-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
    #pagination .container{
        width: 40%;
    }
}

@media screen and ( max-width: 780px){
    #responsive-title{
        font-size: 1.1rem;
        width: 100%;
    }
    .each-content-box{
        padding: 15px;
    }
    #login-page .container .form-container{
        padding: 1rem;
    }
    #all-seller .container,
    section.testimonials .container,
    #about .container,
    #directory-and-item-details .container .sell-info{
        width: 90%;
    }
    #footer .container{
        grid-template-columns: repeat(2, 1fr);
    }
    #all-seller .container{
        width: 95%;
    }
}
@media screen and ( max-width: 680px){
    #directory-and-item-details .container .sell-info .each-info .name{
        flex-basis: 35%;
    }
    #directory-and-item-details .container .sell-info .each-info{
        align-items: baseline;
    }
    #about .container{
        grid-template-columns: repeat(1, 1fr);
    }
    #about .container .about-text{
        order: 2;
    }
}

@media screen and ( max-width: 575px){
    #directory-and-item-details .container .sell-info .each-info .name{
        flex-basis: 45%;
    }
    #responsive-title{
        font-size: 1rem;
    }
    .right-side-content,
    #all-seller .container{
        grid-template-columns: repeat(1, 1fr);
    }
    .each-content-box{
        width: 75%;
        margin: 0 auto;
    }
    #all-seller .container{
        width: 90%;
    }
}

@media screen and ( max-width: 500px){
    nav .container a h3{
        font-size: 1.5rem;
    }
    #search-bar-for-responsive {
        display: block;
    }
    #directory-and-item-details .container {
        width: 98%;
    }
    #directory-and-item-details .container .sell-info{
        width: 100%;
    }
    #directory-and-item-details .container .sell-info .each-info{
        align-items: baseline;
    }
    #responsive-title{
        font-size: 0.8rem;
    }
    .each-content-box p{
        display: none;
    }
    #footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
    .copyright-message,
    .terms-privacy p a{
        font-size: 10px;
    }
    #login-page .container .form-container .name-field{
        display: block;
    }
    #login-page .container .form-container .name-field div{
        padding: 0 1rem 0;
    }
    #login-page .container .form-container .name-field div:nth-child(2) {
        margin-top: 32px;
    }
    #pagination .container{
        width: 60%;
    }
    h4 {
        font-size: 0.9rem;
    }
    section.testimonials .container .head .profile .info cite{
        font-size: 12px;
    }
    section.testimonials .container .carousel .head .stars span{
        font-size: 14px;
    }
    #main-details .container{
        width: 95%;
    }
    nav .container ul{
        width: 15rem;
    }
    #directory-and-item-details .container .sell-info .location p{
        font-size: 13px;
    }
    .container .file-path p span a{
        word-spacing: 1px;
    }
    #blogs .container{
        grid-template-columns: repeat(1, 1fr);
    }
    #blogs .container .dubble-row{
        gap: 1rem;
    }
    #recent-posts h3{
        left: 2%;
    }
    #footer .copyright-box{
        padding: 1rem 0 1rem;
    }
}
